---
import { Image } from "astro:assets";
import logo from "../../assets/images/content/openAMP_LOGOMARKX.svg";
import dayjs from "dayjs";

const { data } = Astro.props;

const dateObj = dayjs(data.date);
const dateString = dateObj.format("dddd, MMMM D, YYYY");

const readTime = `${Math.ceil(
  data.data.description.split(" ").length / 183
)} min read`;
---

<div class="bg-[#f8f9fa]">
  <div class="mx-auto py-4 md:max-w-[1200px] w-auto">
    <div class="flex flex-wrap">
      <div
        class="flex md:flex-row flex-col max-w-[1800px] items-center mx-auto md:mx-0"
      >
        <Image
          class="w-[300px] transition ease-out delay-100 rounded-[50%]"
          src={logo}
          alt="logo"
        />
        <div class="flex flex-col ml-4">
          <!-- Added ml-4 for spacing -->
          <div>
            <div class="text-[1.25rem] mx-2 p-3">
              <strong class="pr-4">{data.data.author}</strong> |
              <span class="text-[1rem] px-4 font-normal">{dateString}</span> | <span
                class="font-bold text-xs pr-4">{readTime}</span
              >
            </div>
            <div class="flex flex-wrap p-3">
              {
                data.data.tags.map((item: any) => (
                  <a
                    class="mx-2 hover:bg-[#DBE0E5]  cursor-pointer no-underline text-black"
                    role="button"
                    href={`/news/tags/${item}`}
                  >
                    {item.toUpperCase()}
                  </a>
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
