---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const { data } = Astro.props;
import OpenAMPLogo from "../../assets/images/content/openAMP_LOGOMARKX.png";
import dayjs from "dayjs";

const dateObj = dayjs(data.date);
const dateString = dateObj.format("dddd, MMMM D, YYYY");

const projects = await getCollection("news");

function findUrl(inputPr: any) {
  const trimmedInput = inputPr.trim().toLowerCase();
  const selectedPr = projects.find(
    (project) => project.data.title.trim().toLowerCase() === trimmedInput
  );

  if (selectedPr) {
    return selectedPr.slug;
  }

  return "/";
}
const convertedTitle = findUrl(data.title);
---

<a
  data-projects={projects}
  class="h-full w-full text-inherit no-underline cursor-pointer col-span-full"
  href={data.url}
>
  <div
    class="flex flex-col rounded-lg mx-auto bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] md:max-w-[1200px]"
  >
    <div class="flex flex-col-reverse md:flex-row p-6">
      <div class="md:w-[40%] w-full">
        <div class="flex w-full justify-between items-center mb-4">
          <i class="text-xl">OpenAMP</i>
          <Image class="w-12" src={OpenAMPLogo} alt="OpenAMP logo" />
        </div>
        <h2 class="text-xl text-left">{data.title}</h2>
        <p class="text-slate-500 mb-2">{dateString}</p>
        <ul class="flex flex-wrap gap-2 mb-2">
          {
            Array.isArray(data.tags) &&
              data.tags
                .filter((tag) => typeof tag === "string")
                .map((tag: any) => (
                  <li
                    onclick={`window.location.href='/news/tags/${tag}/';`}
                    class="bg-gray-100 p-2 text-sm text-gray-600 hover:bg-[#DBE0E5] transition ease-in-out delay-150 rounded-md"
                  >
                    {tag.toUpperCase()}
                  </li>
                ))
          }
        </ul>
        <p class="mb-4 text-xl text-left">{data.description}</p>
        <button
          onclick=`window.location.href='/news/${convertedTitle}/';`
          id="readme"
          class="bg-openampred md:w-[20%] w-[30%] transition ease-in-out delay-500 hover:bg-red-600 text-white px-4 py-2 rounded-md"
        >
          Read
        </button>
      </div>
      <Image
        class="md:w-[60%] w-full rounded-t-lg object-cover md:h-96 md:!rounded-none md:!rounded-r-lg mt-4 md:mt-0"
        src={data.image}
        alt={data.title}
      />
    </div>
  </div>
</a>
