---
import { Image } from "astro:assets";
import logo from "../../assets/images/content/openAMP_LOGOMARKX.svg";
const { data, body } = Astro.props;

import dayjs from "dayjs";

const dateObj = dayjs(data.date);
const dateString = dateObj.format("dddd, MMMM D, YYYY");
console.log(typeof body);

const readTime = `${Math.ceil(
  data.description.split(" ").length / 183
)} min read`;
---

<div class="text-left bg-[#f8f9fa]">
  <div class="flex flex-row items-center">
    <Image
      class="w-[300px] transition ease-out delay-100 rounded-[50%]"
      src={logo}
      alt="logo"
    />
    <div class="flex flex-col ml-4">
      <!-- Added ml-4 for spacing -->
      <div>
        <div class="text-[1.25rem] mx-2 p-3">
          <strong class="pr-4"
            >{
              data.author.charAt(0).toUpperCase() + data.author.slice(1)
            }</strong
          > | <span class="text-[1rem] px-4 font-normal">{dateString}</span> | <span
            class="font-bold text-xs pr-4">{readTime}</span
          >
        </div>
        <div class="flex flex-row p-3">
          {
            data.tags.map((item: any) => (
              <a
                class="mx-2 hover:bg-[#DBE0E5] cursor-pointer no-underline text-black"
                href={`/news/tags/?tag=${item}`}
                role="button"
              >
                {item}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
